/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #212529;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}
nav ul li a{
    color: #fff !important;
}
.active{
    color: #64c6cc !important ;
    font-weight: 600;
}
a{
    color: #64c6cc;
    text-decoration: none;
}
img{
    width: 100%;
}
.imgsetel{
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.expo{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.expo::after{
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom:0;
    left: 0;
    background-color: #64c6cc;
    -webkit-transform-origin:bottom right ;
        -ms-transform-origin:bottom right ;
            transform-origin:bottom right ;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.expo:hover::after{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin:bottom left ;
        -ms-transform-origin:bottom left ;
            transform-origin:bottom left ;
}
.hrborder{
    border: 2px solid;
}
.detail-img{
    width: 100%;
    height: 200px;
}
.detail-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 10px;

}
.navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.exprience span{
    color: #64c6cc;
}

@-webkit-keyframes typing {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

@keyframes typing {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
  .typing-con {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .typing {
    border-right: 0.2rem solid #0D6EFD;
    font-size: 2rem;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation-name: typing;
            animation-name: typing;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-timing-function: steps(23, end);
            animation-timing-function: steps(23, end);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
.item{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
}
.certificate img{
    width: 100%;
    border-radius: 5px;
}
.item img{
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 2px;
    margin-bottom: 5px;
}
.about p{
    line-height: 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.about img{
    width: 200px;
    margin: auto;
}
.connect a{
    color: #fff;
}
.connect a i{
    font-size: 32px;
}
@media screen and (min-width:750px) {
    .item{
        margin-inline: 30px;
    }
}
@media screen and (max-width:400px) {
    .certificate{
        margin-bottom: 2rem;
    }
    .connect{
        width: 100%;
    }
}